body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.151), rgba(255, 255, 255, 0.785)) padding-box,
        linear-gradient(to right, darkblue, darkorchid) border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 0 0 auto;
    font-family: 'Dancing Script', 'cursive';

}
p{
    font-family: 'Dancing Script', 'cursive';
    font-size: 1.5rem ;
}
a{
    color: inherit;
    text-decoration: none;
  }
.navbar{
    padding-top:0;
    width: 100%;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    position:sticky;
    background-color: none;
}
li{
    margin: auto 15px;
}
li:hover{
    transform: scale(1.1);
}
img{
    border-radius: 10%;
}
#intro{
    margin-top: 40px;
}
.introP{
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;

}
.introImg{
    height: 100%;
    width: 100%;
}
/* .row{
    margin: auto 10px;
    display:flex;
    flex-direction: column;
} */
.AboutUs{
    margin-top: 60px;
}
.Events{
    margin-top: 70px;
    margin-left: 10px;
}
h1{
    color: black;
    font-size:3.5rem;
    line-height:1.5;
    font-weight: 900;
    font-family: 'IBM Plex Mono', sans-serif;
}

#logo {
    height: 60px;
}
.social{
    padding:2% 30% 1%;
    text-align: center;
    margin-top: 50px;
}
.h3_cta:hover{
  color: white;
}
.insta:hover{
  color: #E80F88;
}
.twitter:hover{
  color: #31E1F7;
}
.gmail:hover{
  color: #000;
}
.social .col {
    
}
